.radio {
    border: 1px solid #F0F0F0;
    background-color: #F0F0F0;
    padding: 5px;
    display: block;
    &:hover {
        background-color: #52CEB4;
        color: white;
        cursor: pointer;
    }
    &.active {
        background-color: #52CEB4;
        color: white;
    }
}