.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .selectWrapper {
        width: 50%;
        margin-left: 20px;
    }
}

.wrapper {
    width: 60%;
    padding: 10px;
    border: 1px solid #f0f0f0;
}

.displayCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px) {
    .wrapper {
        width: 90%;
    }
}